@import "https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  height: 100vh;
  overflow: hidden;
}

.minesweeper {
  font-family: "Spectral", "MS Sans Serif", serif;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 15px #c0c0c0, 0 0 0 20px #808080;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  grid-row-gap: 8px;
}
.minesweeper * {
  box-sizing: border-box;
}
.minesweeper__header {
  border-top: 5px solid #808080;
  border-left: 5px solid #808080;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  background-color: #b3b3b3;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}
.minesweeper__header .header__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.minesweeper__body {
  box-shadow: 0px -4px 0 0px #808080, 0px -12px 0 0px #c0c0c0;
  display: grid;
}
.minesweeper__body .square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #808080;
  border-right: 4px solid #808080;
  background-color: #c0c0c0;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}
.minesweeper__body .square--clicked-mine {
  background-color: #ff0000;
  border-width: 0;
}
.minesweeper__body .square--mine {
  background-image: url("../img/mine.svg");
}
.minesweeper__body .square--flag {
  background-image: url("../img/flag.png");
}
.minesweeper__body .square--seen {
  border-top-width: 0;
  border-left-width: 0;
}
.minesweeper__body .square--1 {
  color: #0433ff;
}
.minesweeper__body .square--2 {
  color: #008002;
}
.minesweeper__body .square--3 {
  color: #ff2600;
}
.minesweeper__body .square--4 {
  color: #011480;
}
.minesweeper__body .square--5 {
  color: #800d00;
}
.minesweeper__body .square--6 {
  color: #008080;
}
.minesweeper__body .square--7 {
  color: #000000;
}
.minesweeper__body .square--8 {
  color: #808080;
}

.counter {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  display: flex;
}
.counter__digit {
  background-size: 100% 100%;
  width: 16.5px;
  height: 31.5px;
  border: 3px solid #000000;
  box-sizing: content-box;
}
.counter__digit--0 {
  background-image: url("../img/numbers/d0.svg");
}
.counter__digit--1 {
  background-image: url("../img/numbers/d1.svg");
}
.counter__digit--2 {
  background-image: url("../img/numbers/d2.svg");
}
.counter__digit--3 {
  background-image: url("../img/numbers/d3.svg");
}
.counter__digit--4 {
  background-image: url("../img/numbers/d4.svg");
}
.counter__digit--5 {
  background-image: url("../img/numbers/d5.svg");
}
.counter__digit--6 {
  background-image: url("../img/numbers/d6.svg");
}
.counter__digit--7 {
  background-image: url("../img/numbers/d7.svg");
}
.counter__digit--8 {
  background-image: url("../img/numbers/d8.svg");
}
.counter__digit--9 {
  background-image: url("../img/numbers/d9.svg");
}

.emoji {
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-bottom: 5px solid #808080;
  border-right: 5px solid #808080;
  background-color: #c0c0c0;
  box-shadow: 0 0 0 2px #808080;
  padding: 3px;
  cursor: pointer;
}
.emoji .icon {
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
}
.emoji .icon--happy {
  background-image: url("../img/smiley.png");
}
.emoji .icon--sad {
  background-image: url("../img/sad.png");
}
.emoji .icon--cool {
  background-image: url("../img/cool.png");
}
.emoji:active {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
  border-top-width: 5px;
  border-left-width: 5px;
  transition: 0.1s;
}
