@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border($width, $color1, $color2) {
  border-top: $width solid $color1;
  border-left: $width solid $color1;
  border-bottom: $width solid $color2;
  border-right: $width solid $color2;
}

@mixin colorSet($colorId) {
  color: map-get($numbers, $colorId);
}

@mixin full-size-background($width: 35px, $height: 35px) {
  background-size: 100% 100%;
  width: $width;
  height: $height;
}
