@import "https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Spectral:wght@800&display=swap";

@import "variables";
@import "mixins";

body {
  @include flex-center;
  background-color: lightslategrey;
  height: 100vh;
  overflow: hidden;
}
