// Fonts
$font-primary: "Spectral";

// Colors
$black: #000000;
$white: #ffffff;
$gray-200: #c0c0c0;
$gray-400: #b3b3b3;
$gray-600: #808080;
$red: #ff0000;
$numbers: (
  1: #0433ff,
  2: #008002,
  3: #ff2600,
  4: #011480,
  5: #800d00,
  6: #008080,
  7: #000000,
  8: #808080,
);
